openapi: 3.0.3
info:
  contact:
    email: tencentdocs@tencent.com
    name: Tencent Docs
    url: https://git.woa.com/tencentdocs/sdk
  description: "Tencent docs sdk contains DocAPI, SmartsheetAPI, SheetAPI, DriveAPI\
    \ and OAuthAPI"
  license:
    name: Apache License
    url: https://git.woa.com/tencentdocs/sdk/blob/master/LICENSE
  title: Tencent Docs SDK
  version: 0.0.1
servers:
- url: https://docs.qq.com
tags:
- name: DocAPI
- name: DriveAPI
- name: OAuthAPI
- name: ResourceAPI
- name: SmartsheetAPI
paths:
  /oauth/v2/token:
    get:
      operationId: OAuthAPI_GetToken
      parameters:
      - explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: grant_type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthAPIResponse1'
          description: OK
      tags:
      - OAuthAPI
  /oauth/v2/userinfo:
    get:
      operationId: OAuthAPI_RefreshToken
      parameters:
      - explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: grant_type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: refresh_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthAPIResponse3'
          description: OK
      tags:
      - OAuthAPI
  /openapi/doc/v3/{fileID}:
    get:
      description: Three required req headers
      operationId: DocAPI_GetDocFullText
      parameters:
      - description: 文档 ID
        explode: false
        in: path
        name: fileID
        required: true
        schema:
          type: string
        style: simple
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocAPIResponse2'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.doc.readonly
      tags:
      - DocAPI
  /openapi/doc/v3/{fileID}/batchUpdate:
    post:
      description: Three required req headers
      operationId: DocAPI_BatchUpdateDocData
      parameters:
      - explode: false
        in: path
        name: fileID
        required: true
        schema:
          type: string
        style: simple
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateDocDataReq'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocAPIResponse1'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.doc.editable
      tags:
      - DocAPI
  /openapi/drive/v2/files:
    post:
      description: 新建文档
      operationId: DriveAPI_CreateFile
      parameters:
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileReq'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DriveAPIResponse1'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.file.creatable
      tags:
      - DriveAPI
  /openapi/resources/v2/images:
    post:
      description: Three required req headers
      operationId: ResourceAPI_UploadImage
      parameters:
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourcesAPIResponse1'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.file.creatable
      tags:
      - ResourceAPI
  /openapi/smartbook/v2/files/{fileID}/sheets:
    get:
      description: Three required req headers
      operationId: SmartsheetAPI_GetSmartsheetSubSheet
      parameters:
      - explode: false
        in: path
        name: fileID
        required: true
        schema:
          type: string
        style: simple
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SmartsheetAPIResponse2'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.smartsheet.readonly
      tags:
      - SmartsheetAPI
    post:
      description: Three required req headers
      operationId: SmartsheetAPI_EditSmartsheetSubSheet
      parameters:
      - explode: false
        in: path
        name: fileID
        required: true
        schema:
          type: string
        style: simple
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubSheetRequest'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SmartsheetAPIResponse1'
          description: OK
      security:
      - OAuth2AuthCode:
        - scope.smartsheet.editable
      tags:
      - SmartsheetAPI
  /openapi/smartbook/v2/files/{fileID}/sheets/{sheetID}:
    post:
      description: Three required req headers
      operationId: SmartsheetAPI_HandleSmartsheetResource
      parameters:
      - explode: false
        in: path
        name: fileID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sheetID
        required: true
        schema:
          type: string
        style: simple
      - description: 访问令牌，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Access-Token
        required: true
        schema:
          type: string
        style: simple
      - description: 应用 ID，用于标识应用和接口鉴权
        explode: false
        in: header
        name: Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: 开放平台用户 ID，用于标识用户和接口鉴权
        explode: false
        in: header
        name: Open-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartsheetResourceRequest'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SmartsheetAPIResponse3'
          description: OK
      security:
      - OAuth2AuthCode:
        - "scope.smartsheet.editable,scope.smartsheet.readonly"
      tags:
      - SmartsheetAPI
components:
  schemas:
    BatchUpdateDocDataReq:
      description: BatchUpdateDocDataReq 批量更新 Doc 文档请求参数
      example:
        requests:
        - insertText:
            location:
              index: 1
            text: text
          replaceText:
            range:
            - startIndex: 0
              length: 6
            - startIndex: 0
              length: 6
            text: text
          insertImage:
            imageID: imageID
            addonSource: UnknownAddonSourceType
            extraData: extraData
            width: 5
            location:
              index: 1
            anchorID: anchorID
            addonID: addonID
            height: 5
          insertTable:
            location:
              index: 1
            rows: 2
            cols: 7
          insertPageBreak:
            location:
              index: 1
          insertNumbering:
            paragraphIndex: 9
            pStyle:
              indentFirstLine:
                value: 3.616076749251911
              shading:
                backgroundColor: backgroundColor
              indentStart:
                value: 3.616076749251911
              lineSpacing:
                value: 3.616076749251911
              borderTop:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              textDirection: CONTENT_DIRECTION_UNSPECIFIED
              indentEnd:
                value: 3.616076749251911
              borderLeft:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              spaceAbove:
                value: 3.616076749251911
              keepWithNext:
                value: true
              borderRight:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              borderBetween:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              keepLinesTogether:
                value: true
              tabStops:
              - offset:
                  value: 3.616076749251911
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              - offset:
                  value: 3.616076749251911
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              borderBottom:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              avoidWidowAndOrphan:
                value: true
              namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
              spaceBelow:
                value: 3.616076749251911
            range:
              startIndex: 0
              length: 6
            abstractNumID: abstractNumID
          deleteContent:
            range:
              startIndex: 0
              length: 6
          insertWebBlock:
            embedURL: embedURL
            displayText: displayText
            lockAspectRatio: true
            extraData: extraData
            width: 4
            addonType: UnknownAddonType
            location:
              index: 1
            originalURL: originalURL
            anchorID: anchorID
            addonID: addonID
            height: 7
        - insertText:
            location:
              index: 1
            text: text
          replaceText:
            range:
            - startIndex: 0
              length: 6
            - startIndex: 0
              length: 6
            text: text
          insertImage:
            imageID: imageID
            addonSource: UnknownAddonSourceType
            extraData: extraData
            width: 5
            location:
              index: 1
            anchorID: anchorID
            addonID: addonID
            height: 5
          insertTable:
            location:
              index: 1
            rows: 2
            cols: 7
          insertPageBreak:
            location:
              index: 1
          insertNumbering:
            paragraphIndex: 9
            pStyle:
              indentFirstLine:
                value: 3.616076749251911
              shading:
                backgroundColor: backgroundColor
              indentStart:
                value: 3.616076749251911
              lineSpacing:
                value: 3.616076749251911
              borderTop:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              textDirection: CONTENT_DIRECTION_UNSPECIFIED
              indentEnd:
                value: 3.616076749251911
              borderLeft:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              spaceAbove:
                value: 3.616076749251911
              keepWithNext:
                value: true
              borderRight:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              borderBetween:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              keepLinesTogether:
                value: true
              tabStops:
              - offset:
                  value: 3.616076749251911
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              - offset:
                  value: 3.616076749251911
                alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              borderBottom:
                padding:
                  value: 2
                color: color
                width:
                  value: 2
                borderStyle: DASH_STYLE_UNSPECIFIED
              avoidWidowAndOrphan:
                value: true
              namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
              spaceBelow:
                value: 3.616076749251911
            range:
              startIndex: 0
              length: 6
            abstractNumID: abstractNumID
          deleteContent:
            range:
              startIndex: 0
              length: 6
          insertWebBlock:
            embedURL: embedURL
            displayText: displayText
            lockAspectRatio: true
            extraData: extraData
            width: 4
            addonType: UnknownAddonType
            location:
              index: 1
            originalURL: originalURL
            anchorID: anchorID
            addonID: addonID
            height: 7
        fileID: fileID
      properties:
        fileID:
          type: string
        requests:
          items:
            $ref: '#/components/schemas/Request'
          type: array
      required:
      - fileID
      - requests
      type: object
    BatchUpdateDocDataRsp:
      description: BatchUpdateDocDataRsp 批量更新 Doc 文档响应
      properties: {}
      type: object
    CreateFileReq:
      description: '************************************ DriveAPI Definition *****************************************'
      example:
        title: title
        type: type
        templateID: templateID
        folderID: folderID
      properties:
        title:
          type: string
        type:
          type: string
        templateID:
          type: string
        folderID:
          type: string
      required:
      - title
      - type
      type: object
    DeleteContentRequest:
      example:
        range:
          startIndex: 0
          length: 6
      properties:
        range:
          $ref: '#/components/schemas/Range'
      type: object
    DocAPIResponse1:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          description: BatchUpdateDocDataRsp 批量更新 Doc 文档响应
          properties: {}
          type: object
      required:
      - msg
      - ret
      type: object
    DocAPIResponse2:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/GetDocFullTextRsp'
      required:
      - msg
      - ret
      type: object
    DriveAPIResponse1:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/FileInfo'
      required:
      - msg
      - ret
      type: object
    EditSubSheetRequest:
      description: EditSheetRequest 编辑子表请求，创建、删除 Smartsheet 子表
      example:
        addSheet:
          properties:
            sheetID: sheetID
            index: 0
            title: title
        deleteSheet:
          sheetID: sheetID
        fileID: fileID
      properties:
        fileID:
          type: string
        addSheet:
          $ref: '#/components/schemas/SmartsheetAddSheetReq'
        deleteSheet:
          $ref: '#/components/schemas/SmartsheetDeleteSheetReq'
      required:
      - fileID
      type: object
    EditSubSheetResponse:
      description: EditSheetResponse 编辑子表响应，创建、删除 Smartsheet 子表
      properties:
        addSheet:
          $ref: '#/components/schemas/SmartsheetAddSheetRsp'
        deleteSheet:
          properties: {}
          type: object
      type: object
    FileInfo:
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        url:
          type: string
        status:
          type: string
        isCreator:
          type: boolean
        createTime:
          format: uint32
          type: integer
        creatorName:
          type: string
        isOwner:
          type: boolean
        ownerName:
          type: string
        lastModifyTime:
          format: uint32
          type: integer
        lastModifyName:
          type: string
        relativeFiles:
          items:
            $ref: '#/components/schemas/RelativeFiles'
          type: array
        formCollectingStatus:
          type: string
        formCollectingEndTime:
          format: int64
          type: integer
      type: object
    GetDocFullTextRsp:
      properties:
        document:
          $ref: '#/components/schemas/Node'
      type: object
    GetSubSheetResponse:
      description: GetSubSheetResponse 查询 Smartsheet 子表信息响应
      properties:
        getSheet:
          items:
            $ref: '#/components/schemas/SheetData'
          type: array
      type: object
    GetTokenRsp:
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          format: int64
          type: integer
        refresh_token:
          type: string
        user_id:
          type: string
        scope:
          type: string
      type: object
    GetUserInfoRsp:
      properties:
        openID:
          type: string
        nick:
          type: string
        avatar:
          type: string
        source:
          type: string
      type: object
    InsertImageRequest:
      example:
        imageID: imageID
        addonSource: UnknownAddonSourceType
        extraData: extraData
        width: 5
        location:
          index: 1
        anchorID: anchorID
        addonID: addonID
        height: 5
      properties:
        imageID:
          description: 图片 ID
          type: string
        location:
          $ref: '#/components/schemas/Location'
        width:
          description: "图片宽度, 单位为 emu"
          format: uint32
          type: integer
        height:
          description: "图片高度, 单位为 emu"
          format: uint32
          type: integer
        addonSource:
          description: 业务来源
          enum:
          - UnknownAddonSourceType
          - NONE
          - LATEX
          - SIGN
          - SIGNBAR
          format: enum
          type: string
        addonID:
          description: 插件ID
          type: string
        anchorID:
          description: 文档插件元素的唯一 ID (6位的数字小写字母组合)
          type: string
        extraData:
          description: 插件扩展字段
          type: string
      required:
      - imageID
      - location
      type: object
    InsertNumberingRequest:
      example:
        paragraphIndex: 9
        pStyle:
          indentFirstLine:
            value: 3.616076749251911
          shading:
            backgroundColor: backgroundColor
          indentStart:
            value: 3.616076749251911
          lineSpacing:
            value: 3.616076749251911
          borderTop:
            padding:
              value: 2
            color: color
            width:
              value: 2
            borderStyle: DASH_STYLE_UNSPECIFIED
          textDirection: CONTENT_DIRECTION_UNSPECIFIED
          indentEnd:
            value: 3.616076749251911
          borderLeft:
            padding:
              value: 2
            color: color
            width:
              value: 2
            borderStyle: DASH_STYLE_UNSPECIFIED
          spaceAbove:
            value: 3.616076749251911
          keepWithNext:
            value: true
          borderRight:
            padding:
              value: 2
            color: color
            width:
              value: 2
            borderStyle: DASH_STYLE_UNSPECIFIED
          borderBetween:
            padding:
              value: 2
            color: color
            width:
              value: 2
            borderStyle: DASH_STYLE_UNSPECIFIED
          keepLinesTogether:
            value: true
          tabStops:
          - offset:
              value: 3.616076749251911
            alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
          - offset:
              value: 3.616076749251911
            alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
          alignment: ALIGNMENT_UNSPECIFIED
          borderBottom:
            padding:
              value: 2
            color: color
            width:
              value: 2
            borderStyle: DASH_STYLE_UNSPECIFIED
          avoidWidowAndOrphan:
            value: true
          namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
          spaceBelow:
            value: 3.616076749251911
        range:
          startIndex: 0
          length: 6
        abstractNumID: abstractNumID
      properties:
        range:
          $ref: '#/components/schemas/Range'
        abstractNumID:
          type: string
        paragraphIndex:
          format: int32
          type: integer
        pStyle:
          $ref: '#/components/schemas/ParagraphStyle'
      type: object
    InsertPageBreakRequest:
      example:
        location:
          index: 1
      properties:
        location:
          $ref: '#/components/schemas/Location'
      type: object
    InsertTableRequest:
      example:
        location:
          index: 1
        rows: 2
        cols: 7
      properties:
        location:
          $ref: '#/components/schemas/Location'
        rows:
          format: uint32
          type: integer
        cols:
          format: uint32
          type: integer
      type: object
    InsertTextRequest:
      example:
        location:
          index: 1
        text: text
      properties:
        text:
          type: string
        location:
          $ref: '#/components/schemas/Location'
      required:
      - location
      - text
      type: object
    InsertWebBlockRequest:
      example:
        embedURL: embedURL
        displayText: displayText
        lockAspectRatio: true
        extraData: extraData
        width: 4
        addonType: UnknownAddonType
        location:
          index: 1
        originalURL: originalURL
        anchorID: anchorID
        addonID: addonID
        height: 7
      properties:
        location:
          $ref: '#/components/schemas/Location'
        addonID:
          description: 插件 ID
          type: string
        anchorID:
          description: 文档插件元素的唯一ID(6位的数字小写字母组合)
          type: string
        displayText:
          description: 展示文本
          type: string
        width:
          description: 插件宽度，单位为 emu
          format: uint32
          type: integer
        height:
          description: 插件高度，单位为 emu
          format: uint32
          type: integer
        originalURL:
          description: 原始URL
          type: string
        embedURL:
          description: 插件展示的URL
          type: string
        addonType:
          enum:
          - UnknownAddonType
          - TencentVideo
          - BiliBili
          - ProcessOn
          - EverNote
          - Canva
          - Modao
          - Moke
          - QQMusic
          - YuntuCAD
          - ThirdApp
          format: enum
          type: string
        extraData:
          description: 插件扩展字段
          type: string
        lockAspectRatio:
          description: "锁定宽高比, Default: true"
          type: boolean
      required:
      - addonID
      - addonType
      - anchorID
      - embedURL
      - location
      - originalURL
      type: object
    Location:
      example:
        index: 1
      properties:
        index:
          format: uint32
          type: integer
      required:
      - index
      type: object
    Node:
      properties:
        begin:
          format: uint32
          type: integer
        end:
          format: uint32
          type: integer
        type:
          type: string
        children:
          items:
            $ref: '#/components/schemas/Node'
          type: array
        text:
          type: string
        property:
          additionalProperties:
            $ref: '#/components/schemas/google.protobuf.Value'
          type: object
      type: object
    OAuthAPIResponse1:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/GetTokenRsp'
      required:
      - msg
      - ret
      type: object
    OAuthAPIResponse2:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/GetUserInfoRsp'
      required:
      - msg
      - ret
      type: object
    OAuthAPIResponse3:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/RefreshTokenRsp'
      required:
      - msg
      - ret
      type: object
    ParagraphBorder:
      example:
        padding:
          value: 2
        color: color
        width:
          value: 2
        borderStyle: DASH_STYLE_UNSPECIFIED
      properties:
        color:
          type: string
        width:
          $ref: '#/components/schemas/google.protobuf.UInt32Value'
        padding:
          $ref: '#/components/schemas/google.protobuf.UInt32Value'
        borderStyle:
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SINGLE
          - THICK
          - DOUBLE
          - DOTTED
          - DASHED
          - DOTDASH
          - DOTDOTDASH
          format: enum
          type: string
      type: object
    ParagraphStyle:
      example:
        indentFirstLine:
          value: 3.616076749251911
        shading:
          backgroundColor: backgroundColor
        indentStart:
          value: 3.616076749251911
        lineSpacing:
          value: 3.616076749251911
        borderTop:
          padding:
            value: 2
          color: color
          width:
            value: 2
          borderStyle: DASH_STYLE_UNSPECIFIED
        textDirection: CONTENT_DIRECTION_UNSPECIFIED
        indentEnd:
          value: 3.616076749251911
        borderLeft:
          padding:
            value: 2
          color: color
          width:
            value: 2
          borderStyle: DASH_STYLE_UNSPECIFIED
        spaceAbove:
          value: 3.616076749251911
        keepWithNext:
          value: true
        borderRight:
          padding:
            value: 2
          color: color
          width:
            value: 2
          borderStyle: DASH_STYLE_UNSPECIFIED
        borderBetween:
          padding:
            value: 2
          color: color
          width:
            value: 2
          borderStyle: DASH_STYLE_UNSPECIFIED
        keepLinesTogether:
          value: true
        tabStops:
        - offset:
            value: 3.616076749251911
          alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
        - offset:
            value: 3.616076749251911
          alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
        alignment: ALIGNMENT_UNSPECIFIED
        borderBottom:
          padding:
            value: 2
          color: color
          width:
            value: 2
          borderStyle: DASH_STYLE_UNSPECIFIED
        avoidWidowAndOrphan:
          value: true
        namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
        spaceBelow:
          value: 3.616076749251911
      properties:
        namedStyleType:
          enum:
          - NAMED_STYLE_TYPE_UNSPECIFIED
          - NORMAL_TEXT
          - TITLE
          - SUBTITLE
          - HEADING_1
          - HEADING_2
          - HEADING_3
          - HEADING_4
          - HEADING_5
          - HEADING_6
          format: enum
          type: string
        alignment:
          enum:
          - ALIGNMENT_UNSPECIFIED
          - ALIGNMENT_TOP
          - ALIGNMENT_CENTER
          - ALIGNMENT_BASELINE
          - ALIGNMENT_BOTTOM
          - ALIGNMENT_AUTO
          format: enum
          type: string
        lineSpacing:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        textDirection:
          enum:
          - CONTENT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
          - TOP_TO_BOTTOM
          format: enum
          type: string
        spaceAbove:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        spaceBelow:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        borderBetween:
          $ref: '#/components/schemas/ParagraphBorder'
        borderTop:
          $ref: '#/components/schemas/ParagraphBorder'
        borderBottom:
          $ref: '#/components/schemas/ParagraphBorder'
        borderLeft:
          $ref: '#/components/schemas/ParagraphBorder'
        borderRight:
          $ref: '#/components/schemas/ParagraphBorder'
        indentFirstLine:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        indentStart:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        indentEnd:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        tabStops:
          items:
            $ref: '#/components/schemas/TabStop'
          type: array
        keepLinesTogether:
          $ref: '#/components/schemas/google.protobuf.BoolValue'
        keepWithNext:
          $ref: '#/components/schemas/google.protobuf.BoolValue'
        avoidWidowAndOrphan:
          $ref: '#/components/schemas/google.protobuf.BoolValue'
        shading:
          $ref: '#/components/schemas/Shading'
      type: object
    Range:
      example:
        startIndex: 0
        length: 6
      properties:
        startIndex:
          format: uint32
          type: integer
        length:
          format: uint32
          type: integer
      required:
      - length
      - startIndex
      type: object
    RefreshTokenRsp:
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          format: int64
          type: integer
        user_id:
          type: string
        scope:
          type: string
      type: object
    RelativeFiles:
      properties:
        fileID:
          type: string
        tabID:
          type: string
        fileURL:
          type: string
      type: object
    ReplaceTextRequest:
      example:
        range:
        - startIndex: 0
          length: 6
        - startIndex: 0
          length: 6
        text: text
      properties:
        text:
          type: string
        range:
          items:
            $ref: '#/components/schemas/Range'
          type: array
      type: object
    Request:
      example:
        insertText:
          location:
            index: 1
          text: text
        replaceText:
          range:
          - startIndex: 0
            length: 6
          - startIndex: 0
            length: 6
          text: text
        insertImage:
          imageID: imageID
          addonSource: UnknownAddonSourceType
          extraData: extraData
          width: 5
          location:
            index: 1
          anchorID: anchorID
          addonID: addonID
          height: 5
        insertTable:
          location:
            index: 1
          rows: 2
          cols: 7
        insertPageBreak:
          location:
            index: 1
        insertNumbering:
          paragraphIndex: 9
          pStyle:
            indentFirstLine:
              value: 3.616076749251911
            shading:
              backgroundColor: backgroundColor
            indentStart:
              value: 3.616076749251911
            lineSpacing:
              value: 3.616076749251911
            borderTop:
              padding:
                value: 2
              color: color
              width:
                value: 2
              borderStyle: DASH_STYLE_UNSPECIFIED
            textDirection: CONTENT_DIRECTION_UNSPECIFIED
            indentEnd:
              value: 3.616076749251911
            borderLeft:
              padding:
                value: 2
              color: color
              width:
                value: 2
              borderStyle: DASH_STYLE_UNSPECIFIED
            spaceAbove:
              value: 3.616076749251911
            keepWithNext:
              value: true
            borderRight:
              padding:
                value: 2
              color: color
              width:
                value: 2
              borderStyle: DASH_STYLE_UNSPECIFIED
            borderBetween:
              padding:
                value: 2
              color: color
              width:
                value: 2
              borderStyle: DASH_STYLE_UNSPECIFIED
            keepLinesTogether:
              value: true
            tabStops:
            - offset:
                value: 3.616076749251911
              alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
            - offset:
                value: 3.616076749251911
              alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
            alignment: ALIGNMENT_UNSPECIFIED
            borderBottom:
              padding:
                value: 2
              color: color
              width:
                value: 2
              borderStyle: DASH_STYLE_UNSPECIFIED
            avoidWidowAndOrphan:
              value: true
            namedStyleType: NAMED_STYLE_TYPE_UNSPECIFIED
            spaceBelow:
              value: 3.616076749251911
          range:
            startIndex: 0
            length: 6
          abstractNumID: abstractNumID
        deleteContent:
          range:
            startIndex: 0
            length: 6
        insertWebBlock:
          embedURL: embedURL
          displayText: displayText
          lockAspectRatio: true
          extraData: extraData
          width: 4
          addonType: UnknownAddonType
          location:
            index: 1
          originalURL: originalURL
          anchorID: anchorID
          addonID: addonID
          height: 7
      properties:
        replaceText:
          $ref: '#/components/schemas/ReplaceTextRequest'
        insertText:
          $ref: '#/components/schemas/InsertTextRequest'
        deleteContent:
          $ref: '#/components/schemas/DeleteContentRequest'
        insertImage:
          $ref: '#/components/schemas/InsertImageRequest'
        insertPageBreak:
          $ref: '#/components/schemas/InsertPageBreakRequest'
        insertTable:
          $ref: '#/components/schemas/InsertTableRequest'
        insertNumbering:
          $ref: '#/components/schemas/InsertNumberingRequest'
        insertWebBlock:
          $ref: '#/components/schemas/InsertWebBlockRequest'
      type: object
    ResourcesAPIResponse1:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/UploadImageRsp'
      required:
      - msg
      - ret
      type: object
    Shading:
      example:
        backgroundColor: backgroundColor
      properties:
        backgroundColor:
          type: string
      type: object
    SheetData:
      properties:
        sheetID:
          type: string
        title:
          type: string
        isVisible:
          type: boolean
      type: object
    SheetProperties:
      example:
        sheetID: sheetID
        index: 0
        title: title
      properties:
        sheetID:
          type: string
        title:
          type: string
        index:
          format: int32
          type: integer
      type: object
    SmartsheetAPIResponse1:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/EditSubSheetResponse'
      required:
      - msg
      - ret
      type: object
    SmartsheetAPIResponse2:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/GetSubSheetResponse'
      required:
      - msg
      - ret
      type: object
    SmartsheetAPIResponse3:
      properties:
        ret:
          format: int32
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/SmartsheetResourceResponse'
      required:
      - msg
      - ret
      type: object
    SmartsheetAddSheetReq:
      example:
        properties:
          sheetID: sheetID
          index: 0
          title: title
      properties:
        properties:
          $ref: '#/components/schemas/SheetProperties'
      type: object
    SmartsheetAddSheetRsp:
      properties:
        properties:
          $ref: '#/components/schemas/SheetProperties'
      type: object
    SmartsheetDeleteSheetReq:
      example:
        sheetID: sheetID
      properties:
        sheetID:
          type: string
      type: object
    SmartsheetDeleteSheetRsp:
      properties: {}
      type: object
    SmartsheetResourceRequest:
      description: SmartsheetResourceRequest 处理 Smartsheet 视图、记录、字段资源的请求参数
      example:
        addRecords:
          records:
          - values:
              key: null
          - values:
              key: null
        updateRecords:
          records:
          - recordID: recordID
            values:
              key: null
          - recordID: recordID
            values:
              key: null
        deleteRecords:
          recordIDs:
          - recordIDs
          - recordIDs
        deleteFields:
          fieldIDs:
          - fieldIDs
          - fieldIDs
        addFields:
          fields:
          - propertyImage: "{}"
            propertyProgress:
              decimalPlaces: 3
            propertyCreatedUser: "{}"
            propertyEmail: "{}"
            propertyPhoneNumber: "{}"
            propertyUrl:
              type: LINK_TYPE_UNKNOWN
            propertyDateTime:
              format: format
              autoFill: true
            propertySelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyAttachment: "{}"
            propertyModifiedUser: "{}"
            propertyUser: "{}"
            propertyText: "{}"
            propertyCreatedTime:
              format: format
            propertyModifiedTime:
              format: format
            fieldTitle: fieldTitle
            fieldType: FIELD_TYPE_UNKNOWN
            propertySingleSelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyCheckbox:
              checked: true
            propertyNumber:
              decimalPlaces: 7
              useSeparate: true
          - propertyImage: "{}"
            propertyProgress:
              decimalPlaces: 3
            propertyCreatedUser: "{}"
            propertyEmail: "{}"
            propertyPhoneNumber: "{}"
            propertyUrl:
              type: LINK_TYPE_UNKNOWN
            propertyDateTime:
              format: format
              autoFill: true
            propertySelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyAttachment: "{}"
            propertyModifiedUser: "{}"
            propertyUser: "{}"
            propertyText: "{}"
            propertyCreatedTime:
              format: format
            propertyModifiedTime:
              format: format
            fieldTitle: fieldTitle
            fieldType: FIELD_TYPE_UNKNOWN
            propertySingleSelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyCheckbox:
              checked: true
            propertyNumber:
              decimalPlaces: 7
              useSeparate: true
        updateFields:
          fields:
          - propertyImage: "{}"
            propertyProgress:
              decimalPlaces: 3
            propertyCreatedUser: "{}"
            propertyEmail: "{}"
            propertyPhoneNumber: "{}"
            propertyUrl:
              type: LINK_TYPE_UNKNOWN
            propertyDateTime:
              format: format
              autoFill: true
            propertySelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyAttachment: "{}"
            propertyModifiedUser: "{}"
            propertyUser: "{}"
            propertyText: "{}"
            propertyCreatedTime:
              format: format
            propertyModifiedTime:
              format: format
            fieldTitle:
              value: value
            fieldType: FIELD_TYPE_UNKNOWN
            propertySingleSelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyCheckbox:
              checked: true
            fieldID: fieldID
            propertyNumber:
              decimalPlaces: 7
              useSeparate: true
          - propertyImage: "{}"
            propertyProgress:
              decimalPlaces: 3
            propertyCreatedUser: "{}"
            propertyEmail: "{}"
            propertyPhoneNumber: "{}"
            propertyUrl:
              type: LINK_TYPE_UNKNOWN
            propertyDateTime:
              format: format
              autoFill: true
            propertySelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyAttachment: "{}"
            propertyModifiedUser: "{}"
            propertyUser: "{}"
            propertyText: "{}"
            propertyCreatedTime:
              format: format
            propertyModifiedTime:
              format: format
            fieldTitle:
              value: value
            fieldType: FIELD_TYPE_UNKNOWN
            propertySingleSelect:
              options:
              - style: 9
                id: id
                text: text
              - style: 9
                id: id
                text: text
              isQuickAdd: true
              isMultiple: true
            propertyCheckbox:
              checked: true
            fieldID: fieldID
            propertyNumber:
              decimalPlaces: 7
              useSeparate: true
        addView:
          viewType: VIEW_UNKNOWN
          viewTitle: viewTitle
        getFields:
          viewID: viewID
          fieldTitles:
          - fieldTitles
          - fieldTitles
          offset: 5
          limit: 2
          fieldIDs:
          - fieldIDs
          - fieldIDs
        getViews:
          viewIDs:
          - viewIDs
          - viewIDs
          offset: 0
          limit: 6
        getRecords:
          viewID: viewID
          fieldTitles:
          - fieldTitles
          - fieldTitles
          offset: 1
          limit: 5
          sort:
          - fieldTitle: fieldTitle
            desc: true
          - fieldTitle: fieldTitle
            desc: true
          recordIDs:
          - recordIDs
          - recordIDs
        sheetID: sheetID
        deleteViews:
          viewIDs:
          - viewIDs
          - viewIDs
        fileID: fileID
      properties:
        fileID:
          type: string
        sheetID:
          type: string
        getViews:
          $ref: '#/components/schemas/smartsheetentity.GetViewsRequest'
        getRecords:
          $ref: '#/components/schemas/smartsheetentity.GetRecordsRequest'
        getFields:
          $ref: '#/components/schemas/smartsheetentity.GetFieldsRequest'
        addView:
          $ref: '#/components/schemas/smartsheetentity.AddViewRequest'
        deleteViews:
          $ref: '#/components/schemas/smartsheetentity.DeleteViewsRequest'
        addRecords:
          $ref: '#/components/schemas/smartsheetentity.AddRecordsRequest'
        updateRecords:
          $ref: '#/components/schemas/smartsheetentity.UpdateRecordsRequest'
        deleteRecords:
          $ref: '#/components/schemas/smartsheetentity.DeleteRecordsRequest'
        addFields:
          $ref: '#/components/schemas/smartsheetentity.AddFieldsRequest'
        updateFields:
          $ref: '#/components/schemas/smartsheetentity.UpdateFieldsRequest'
        deleteFields:
          $ref: '#/components/schemas/smartsheetentity.DeleteFieldsRequest'
      required:
      - fileID
      - sheetID
      type: object
    SmartsheetResourceResponse:
      description: SmartsheetResourceResponse 处理 Smartsheet 视图、记录、字段资源的响应参数
      properties:
        getViews:
          $ref: '#/components/schemas/smartsheetentity.GetViewsResponse'
        getRecords:
          $ref: '#/components/schemas/smartsheetentity.GetRecordsResponse'
        getFields:
          $ref: '#/components/schemas/smartsheetentity.GetFieldsResponse'
        addView:
          $ref: '#/components/schemas/smartsheetentity.AddViewResponse'
        deleteViews:
          description: 删除指定表格指定子表中的指定视图回包
          properties: {}
          type: object
        addRecords:
          $ref: '#/components/schemas/smartsheetentity.AddRecordsResponse'
        updateRecords:
          $ref: '#/components/schemas/smartsheetentity.UpdateRecordsResponse'
        deleteRecords:
          description: 删除指定表格和子表中的一到多条记录回包
          properties: {}
          type: object
        addFields:
          $ref: '#/components/schemas/smartsheetentity.AddFieldsResponse'
        updateFields:
          $ref: '#/components/schemas/smartsheetentity.UpdateFieldsResponse'
        deleteFields:
          description: 删除字段回包
          properties: {}
          type: object
      type: object
    TabStop:
      example:
        offset:
          value: 3.616076749251911
        alignment: TAB_STOP_ALIGNMENT_UNSPECIFIED
      properties:
        offset:
          $ref: '#/components/schemas/google.protobuf.DoubleValue'
        alignment:
          enum:
          - TAB_STOP_ALIGNMENT_UNSPECIFIED
          - TAB_STOP_START
          - TAB_STOP_CENTER
          - TAB_STOP_END
          format: enum
          type: string
      type: object
    UploadImageRsp:
      properties:
        imageID:
          type: string
      type: object
    smartsheet.AttachmentFieldProperty:
      properties: {}
      type: object
    smartsheet.CheckboxFieldProperty:
      example:
        checked: true
      properties:
        checked:
          type: boolean
      type: object
    smartsheet.CreatedTimeFieldProperty:
      example:
        format: format
      properties:
        format:
          type: string
      type: object
    smartsheet.CreatedUserFieldProperty:
      properties: {}
      type: object
    smartsheet.DateTimeFieldProperty:
      example:
        format: format
        autoFill: true
      properties:
        format:
          type: string
        autoFill:
          type: boolean
      type: object
    smartsheet.EmailFieldProperty:
      properties: {}
      type: object
    smartsheet.ImageFieldProperty:
      properties: {}
      type: object
    smartsheet.ModifiedTimeFieldProperty:
      example:
        format: format
      properties:
        format:
          type: string
      type: object
    smartsheet.ModifiedUserFieldProperty:
      properties: {}
      type: object
    smartsheet.NumberFieldProperty:
      example:
        decimalPlaces: 7
        useSeparate: true
      properties:
        decimalPlaces:
          format: int32
          type: integer
        useSeparate:
          type: boolean
      type: object
    smartsheet.Option:
      example:
        style: 9
        id: id
        text: text
      properties:
        id:
          type: string
        text:
          type: string
        style:
          format: int32
          type: integer
      type: object
    smartsheet.PhoneNumberFieldProperty:
      properties: {}
      type: object
    smartsheet.ProgressFieldProperty:
      example:
        decimalPlaces: 3
      properties:
        decimalPlaces:
          format: int32
          type: integer
      type: object
    smartsheet.SelectFieldProperty:
      example:
        options:
        - style: 9
          id: id
          text: text
        - style: 9
          id: id
          text: text
        isQuickAdd: true
        isMultiple: true
      properties:
        isMultiple:
          type: boolean
        isQuickAdd:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/smartsheet.Option'
          type: array
      type: object
    smartsheet.SingleSelectFieldProperty:
      example:
        options:
        - style: 9
          id: id
          text: text
        - style: 9
          id: id
          text: text
        isQuickAdd: true
        isMultiple: true
      properties:
        isMultiple:
          type: boolean
        isQuickAdd:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/smartsheet.Option'
          type: array
      type: object
    smartsheet.TextFieldProperty:
      properties: {}
      type: object
    smartsheet.UrlFieldProperty:
      example:
        type: LINK_TYPE_UNKNOWN
      properties:
        type:
          enum:
          - LINK_TYPE_UNKNOWN
          - LINK_TYPE_PURE_TEXT
          - LINK_TYPE_ICON_TEXT
          format: enum
          type: string
      type: object
    smartsheet.UserFieldProperty:
      properties: {}
      type: object
    smartsheetentity.AddField:
      example:
        propertyImage: "{}"
        propertyProgress:
          decimalPlaces: 3
        propertyCreatedUser: "{}"
        propertyEmail: "{}"
        propertyPhoneNumber: "{}"
        propertyUrl:
          type: LINK_TYPE_UNKNOWN
        propertyDateTime:
          format: format
          autoFill: true
        propertySelect:
          options:
          - style: 9
            id: id
            text: text
          - style: 9
            id: id
            text: text
          isQuickAdd: true
          isMultiple: true
        propertyAttachment: "{}"
        propertyModifiedUser: "{}"
        propertyUser: "{}"
        propertyText: "{}"
        propertyCreatedTime:
          format: format
        propertyModifiedTime:
          format: format
        fieldTitle: fieldTitle
        fieldType: FIELD_TYPE_UNKNOWN
        propertySingleSelect:
          options:
          - style: 9
            id: id
            text: text
          - style: 9
            id: id
            text: text
          isQuickAdd: true
          isMultiple: true
        propertyCheckbox:
          checked: true
        propertyNumber:
          decimalPlaces: 7
          useSeparate: true
      properties:
        fieldTitle:
          type: string
        fieldType:
          enum:
          - FIELD_TYPE_UNKNOWN
          - FIELD_TYPE_TEXT
          - FIELD_TYPE_NUMBER
          - FIELD_TYPE_CHECKBOX
          - FIELD_TYPE_DATE_TIME
          - FIELD_TYPE_IMAGE
          - FIELD_TYPE_ATTACHMENT
          - FIELD_TYPE_USER
          - FIELD_TYPE_URL
          - FIELD_TYPE_SELECT
          - FIELD_TYPE_CREATED_USER
          - FIELD_TYPE_MODIFIED_USER
          - FIELD_TYPE_CREATED_TIME
          - FIELD_TYPE_MODIFIED_TIME
          - FIELD_TYPE_PROGRESS
          - FIELD_TYPE_PHONE_NUMBER
          - FIELD_TYPE_EMAIL
          - FIELD_TYPE_SINGLE_SELECT
          format: enum
          type: string
        propertyText:
          properties: {}
          type: object
        propertyNumber:
          $ref: '#/components/schemas/smartsheet.NumberFieldProperty'
        propertyCheckbox:
          $ref: '#/components/schemas/smartsheet.CheckboxFieldProperty'
        propertyDateTime:
          $ref: '#/components/schemas/smartsheet.DateTimeFieldProperty'
        propertyImage:
          properties: {}
          type: object
        propertyAttachment:
          properties: {}
          type: object
        propertyUser:
          properties: {}
          type: object
        propertyUrl:
          $ref: '#/components/schemas/smartsheet.UrlFieldProperty'
        propertySelect:
          $ref: '#/components/schemas/smartsheet.SelectFieldProperty'
        propertyCreatedUser:
          properties: {}
          type: object
        propertyModifiedUser:
          properties: {}
          type: object
        propertyCreatedTime:
          $ref: '#/components/schemas/smartsheet.CreatedTimeFieldProperty'
        propertyModifiedTime:
          $ref: '#/components/schemas/smartsheet.ModifiedTimeFieldProperty'
        propertyProgress:
          $ref: '#/components/schemas/smartsheet.ProgressFieldProperty'
        propertyPhoneNumber:
          properties: {}
          type: object
        propertyEmail:
          properties: {}
          type: object
        propertySingleSelect:
          $ref: '#/components/schemas/smartsheet.SingleSelectFieldProperty'
      type: object
    smartsheetentity.AddFieldsRequest:
      description: 新增字段请求
      example:
        fields:
        - propertyImage: "{}"
          propertyProgress:
            decimalPlaces: 3
          propertyCreatedUser: "{}"
          propertyEmail: "{}"
          propertyPhoneNumber: "{}"
          propertyUrl:
            type: LINK_TYPE_UNKNOWN
          propertyDateTime:
            format: format
            autoFill: true
          propertySelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyAttachment: "{}"
          propertyModifiedUser: "{}"
          propertyUser: "{}"
          propertyText: "{}"
          propertyCreatedTime:
            format: format
          propertyModifiedTime:
            format: format
          fieldTitle: fieldTitle
          fieldType: FIELD_TYPE_UNKNOWN
          propertySingleSelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyCheckbox:
            checked: true
          propertyNumber:
            decimalPlaces: 7
            useSeparate: true
        - propertyImage: "{}"
          propertyProgress:
            decimalPlaces: 3
          propertyCreatedUser: "{}"
          propertyEmail: "{}"
          propertyPhoneNumber: "{}"
          propertyUrl:
            type: LINK_TYPE_UNKNOWN
          propertyDateTime:
            format: format
            autoFill: true
          propertySelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyAttachment: "{}"
          propertyModifiedUser: "{}"
          propertyUser: "{}"
          propertyText: "{}"
          propertyCreatedTime:
            format: format
          propertyModifiedTime:
            format: format
          fieldTitle: fieldTitle
          fieldType: FIELD_TYPE_UNKNOWN
          propertySingleSelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyCheckbox:
            checked: true
          propertyNumber:
            decimalPlaces: 7
            useSeparate: true
      properties:
        fields:
          items:
            $ref: '#/components/schemas/smartsheetentity.AddField'
          type: array
      type: object
    smartsheetentity.AddFieldsResponse:
      description: 新增字段回包
      properties:
        fields:
          items:
            $ref: '#/components/schemas/smartsheetentity.Field'
          type: array
      type: object
    smartsheetentity.AddRecord:
      example:
        values:
          key: null
      properties:
        values:
          additionalProperties:
            $ref: '#/components/schemas/google.protobuf.Value'
          type: object
      type: object
    smartsheetentity.AddRecordsRequest:
      description: 在指定表格和子表中创建一到多条新记录请求
      example:
        records:
        - values:
            key: null
        - values:
            key: null
      properties:
        records:
          items:
            $ref: '#/components/schemas/smartsheetentity.AddRecord'
          type: array
      type: object
    smartsheetentity.AddRecordsResponse:
      description: 在指定表格和子表中创建一到多条新记录回包
      properties:
        records:
          items:
            $ref: '#/components/schemas/smartsheetentity.CommonRecord'
          type: array
      type: object
    smartsheetentity.AddViewRequest:
      description: 新建视图请求，创建一个视图
      example:
        viewType: VIEW_UNKNOWN
        viewTitle: viewTitle
      properties:
        viewTitle:
          type: string
        viewType:
          enum:
          - VIEW_UNKNOWN
          - VIEW_TYPE_GRID
          - VIEW_TYPE_KANBAN
          - VIEW_TYPE_GALLERY
          - VIEW_TYPE_GANTT
          format: enum
          type: string
      type: object
    smartsheetentity.AddViewResponse:
      description: 新建视图回包
      properties:
        view:
          $ref: '#/components/schemas/smartsheetentity.View'
      type: object
    smartsheetentity.CommonRecord:
      example:
        recordID: recordID
        values:
          key: null
      properties:
        recordID:
          type: string
        values:
          additionalProperties:
            $ref: '#/components/schemas/google.protobuf.Value'
          type: object
      type: object
    smartsheetentity.DeleteFieldsRequest:
      description: 删除字段请求
      example:
        fieldIDs:
        - fieldIDs
        - fieldIDs
      properties:
        fieldIDs:
          items:
            type: string
          type: array
      type: object
    smartsheetentity.DeleteFieldsResponse:
      description: 删除字段回包
      properties: {}
      type: object
    smartsheetentity.DeleteRecordsRequest:
      description: 删除指定表格和子表中的一到多条记录请求
      example:
        recordIDs:
        - recordIDs
        - recordIDs
      properties:
        recordIDs:
          items:
            type: string
          type: array
      type: object
    smartsheetentity.DeleteRecordsResponse:
      description: 删除指定表格和子表中的一到多条记录回包
      properties: {}
      type: object
    smartsheetentity.DeleteViewsRequest:
      description: 删除指定表格指定子表中的指定视图请求
      example:
        viewIDs:
        - viewIDs
        - viewIDs
      properties:
        viewIDs:
          items:
            type: string
          type: array
      type: object
    smartsheetentity.DeleteViewsResponse:
      description: 删除指定表格指定子表中的指定视图回包
      properties: {}
      type: object
    smartsheetentity.Field:
      example:
        propertyImage: "{}"
        propertyProgress:
          decimalPlaces: 3
        propertyCreatedUser: "{}"
        propertyEmail: "{}"
        propertyPhoneNumber: "{}"
        propertyUrl:
          type: LINK_TYPE_UNKNOWN
        propertyDateTime:
          format: format
          autoFill: true
        propertySelect:
          options:
          - style: 9
            id: id
            text: text
          - style: 9
            id: id
            text: text
          isQuickAdd: true
          isMultiple: true
        propertyAttachment: "{}"
        propertyModifiedUser: "{}"
        propertyUser: "{}"
        propertyText: "{}"
        propertyCreatedTime:
          format: format
        propertyModifiedTime:
          format: format
        fieldTitle:
          value: value
        fieldType: FIELD_TYPE_UNKNOWN
        propertySingleSelect:
          options:
          - style: 9
            id: id
            text: text
          - style: 9
            id: id
            text: text
          isQuickAdd: true
          isMultiple: true
        propertyCheckbox:
          checked: true
        fieldID: fieldID
        propertyNumber:
          decimalPlaces: 7
          useSeparate: true
      properties:
        fieldID:
          type: string
        fieldTitle:
          $ref: '#/components/schemas/google.protobuf.StringValue'
        fieldType:
          enum:
          - FIELD_TYPE_UNKNOWN
          - FIELD_TYPE_TEXT
          - FIELD_TYPE_NUMBER
          - FIELD_TYPE_CHECKBOX
          - FIELD_TYPE_DATE_TIME
          - FIELD_TYPE_IMAGE
          - FIELD_TYPE_ATTACHMENT
          - FIELD_TYPE_USER
          - FIELD_TYPE_URL
          - FIELD_TYPE_SELECT
          - FIELD_TYPE_CREATED_USER
          - FIELD_TYPE_MODIFIED_USER
          - FIELD_TYPE_CREATED_TIME
          - FIELD_TYPE_MODIFIED_TIME
          - FIELD_TYPE_PROGRESS
          - FIELD_TYPE_PHONE_NUMBER
          - FIELD_TYPE_EMAIL
          - FIELD_TYPE_SINGLE_SELECT
          format: enum
          type: string
        propertyText:
          properties: {}
          type: object
        propertyNumber:
          $ref: '#/components/schemas/smartsheet.NumberFieldProperty'
        propertyCheckbox:
          $ref: '#/components/schemas/smartsheet.CheckboxFieldProperty'
        propertyDateTime:
          $ref: '#/components/schemas/smartsheet.DateTimeFieldProperty'
        propertyImage:
          properties: {}
          type: object
        propertyAttachment:
          properties: {}
          type: object
        propertyUser:
          properties: {}
          type: object
        propertyUrl:
          $ref: '#/components/schemas/smartsheet.UrlFieldProperty'
        propertySelect:
          $ref: '#/components/schemas/smartsheet.SelectFieldProperty'
        propertyCreatedUser:
          properties: {}
          type: object
        propertyModifiedUser:
          properties: {}
          type: object
        propertyCreatedTime:
          $ref: '#/components/schemas/smartsheet.CreatedTimeFieldProperty'
        propertyModifiedTime:
          $ref: '#/components/schemas/smartsheet.ModifiedTimeFieldProperty'
        propertyProgress:
          $ref: '#/components/schemas/smartsheet.ProgressFieldProperty'
        propertyPhoneNumber:
          properties: {}
          type: object
        propertyEmail:
          properties: {}
          type: object
        propertySingleSelect:
          $ref: '#/components/schemas/smartsheet.SingleSelectFieldProperty'
      type: object
    smartsheetentity.GetFieldsRequest:
      description: 获取指定表格和子表中的所有字段请求
      example:
        viewID: viewID
        fieldTitles:
        - fieldTitles
        - fieldTitles
        offset: 5
        limit: 2
        fieldIDs:
        - fieldIDs
        - fieldIDs
      properties:
        viewID:
          type: string
        fieldIDs:
          items:
            type: string
          type: array
        fieldTitles:
          items:
            type: string
          type: array
        offset:
          format: uint32
          type: integer
        limit:
          format: uint32
          type: integer
      type: object
    smartsheetentity.GetFieldsResponse:
      description: 获取指定表格和子表中的所有字段回包
      properties:
        total:
          format: uint32
          type: integer
        hasMore:
          type: boolean
        next:
          format: uint32
          type: integer
        fields:
          items:
            $ref: '#/components/schemas/smartsheetentity.Field'
          type: array
      type: object
    smartsheetentity.GetRecordsRequest:
      description: 获取指定表格和子表下指定视图中的所有记录、指定返回记录里要包含的字段、获取指定筛选条件和指定数量的记录三个接口合一
      example:
        viewID: viewID
        fieldTitles:
        - fieldTitles
        - fieldTitles
        offset: 1
        limit: 5
        sort:
        - fieldTitle: fieldTitle
          desc: true
        - fieldTitle: fieldTitle
          desc: true
        recordIDs:
        - recordIDs
        - recordIDs
      properties:
        viewID:
          type: string
        recordIDs:
          items:
            type: string
          type: array
        fieldTitles:
          items:
            type: string
          type: array
        sort:
          items:
            $ref: '#/components/schemas/smartsheetentity.Sort'
          type: array
        offset:
          format: uint32
          type: integer
        limit:
          format: uint32
          type: integer
      type: object
    smartsheetentity.GetRecordsResponse:
      description: 获取指定表格和子表下指定视图中的所有记录回包
      properties:
        total:
          format: uint32
          type: integer
        hasMore:
          type: boolean
        next:
          format: uint32
          type: integer
        records:
          items:
            $ref: '#/components/schemas/smartsheetentity.Record'
          type: array
      type: object
    smartsheetentity.GetViewsRequest:
      description: 获取所有视图请求
      example:
        viewIDs:
        - viewIDs
        - viewIDs
        offset: 0
        limit: 6
      properties:
        viewIDs:
          items:
            type: string
          type: array
        offset:
          format: uint32
          type: integer
        limit:
          format: uint32
          type: integer
      type: object
    smartsheetentity.GetViewsResponse:
      description: 获取指定表格指定子表中的所有视图回包
      properties:
        total:
          format: uint32
          type: integer
        hasMore:
          type: boolean
        next:
          format: uint32
          type: integer
        views:
          items:
            $ref: '#/components/schemas/smartsheetentity.View'
          type: array
      type: object
    smartsheetentity.Record:
      properties:
        recordID:
          type: string
        createTime:
          format: int64
          type: integer
        updateTime:
          format: int64
          type: integer
        values:
          additionalProperties:
            $ref: '#/components/schemas/google.protobuf.Value'
          type: object
      type: object
    smartsheetentity.Sort:
      example:
        fieldTitle: fieldTitle
        desc: true
      properties:
        fieldTitle:
          type: string
        desc:
          type: boolean
      type: object
    smartsheetentity.UpdateFieldsRequest:
      description: 更新字段请求
      example:
        fields:
        - propertyImage: "{}"
          propertyProgress:
            decimalPlaces: 3
          propertyCreatedUser: "{}"
          propertyEmail: "{}"
          propertyPhoneNumber: "{}"
          propertyUrl:
            type: LINK_TYPE_UNKNOWN
          propertyDateTime:
            format: format
            autoFill: true
          propertySelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyAttachment: "{}"
          propertyModifiedUser: "{}"
          propertyUser: "{}"
          propertyText: "{}"
          propertyCreatedTime:
            format: format
          propertyModifiedTime:
            format: format
          fieldTitle:
            value: value
          fieldType: FIELD_TYPE_UNKNOWN
          propertySingleSelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyCheckbox:
            checked: true
          fieldID: fieldID
          propertyNumber:
            decimalPlaces: 7
            useSeparate: true
        - propertyImage: "{}"
          propertyProgress:
            decimalPlaces: 3
          propertyCreatedUser: "{}"
          propertyEmail: "{}"
          propertyPhoneNumber: "{}"
          propertyUrl:
            type: LINK_TYPE_UNKNOWN
          propertyDateTime:
            format: format
            autoFill: true
          propertySelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyAttachment: "{}"
          propertyModifiedUser: "{}"
          propertyUser: "{}"
          propertyText: "{}"
          propertyCreatedTime:
            format: format
          propertyModifiedTime:
            format: format
          fieldTitle:
            value: value
          fieldType: FIELD_TYPE_UNKNOWN
          propertySingleSelect:
            options:
            - style: 9
              id: id
              text: text
            - style: 9
              id: id
              text: text
            isQuickAdd: true
            isMultiple: true
          propertyCheckbox:
            checked: true
          fieldID: fieldID
          propertyNumber:
            decimalPlaces: 7
            useSeparate: true
      properties:
        fields:
          items:
            $ref: '#/components/schemas/smartsheetentity.Field'
          type: array
      type: object
    smartsheetentity.UpdateFieldsResponse:
      description: 更新字段回包
      properties:
        fields:
          items:
            $ref: '#/components/schemas/smartsheetentity.Field'
          type: array
      type: object
    smartsheetentity.UpdateRecordsRequest:
      description: 更新指定表格和子表中的一到多条记录请求
      example:
        records:
        - recordID: recordID
          values:
            key: null
        - recordID: recordID
          values:
            key: null
      properties:
        records:
          items:
            $ref: '#/components/schemas/smartsheetentity.CommonRecord'
          type: array
      type: object
    smartsheetentity.UpdateRecordsResponse:
      description: 更新指定表格和子表中的一到多条记录回包
      properties:
        records:
          items:
            $ref: '#/components/schemas/smartsheetentity.CommonRecord'
          type: array
      type: object
    smartsheetentity.View:
      properties:
        viewID:
          type: string
        viewTitle:
          type: string
        viewType:
          enum:
          - VIEW_UNKNOWN
          - VIEW_TYPE_GRID
          - VIEW_TYPE_KANBAN
          - VIEW_TYPE_GALLERY
          - VIEW_TYPE_GANTT
          format: enum
          type: string
      type: object
    google.protobuf.BoolValue:
      description: Wrapper message for `bool`. The JSON representation for `BoolValue`
        is JSON `true` and `false`.
      example:
        value: true
      properties:
        value:
          description: The bool value.
          type: boolean
      type: object
    google.protobuf.DoubleValue:
      description: Wrapper message for `double`. The JSON representation for `DoubleValue`
        is JSON number.
      example:
        value: 3.616076749251911
      properties:
        value:
          description: The double value.
          format: double
          type: number
      type: object
    google.protobuf.StringValue:
      description: Wrapper message for `string`. The JSON representation for `StringValue`
        is JSON string.
      example:
        value: value
      properties:
        value:
          description: The string value.
          type: string
      type: object
    google.protobuf.UInt32Value:
      description: Wrapper message for `uint32`. The JSON representation for `UInt32Value`
        is JSON number.
      example:
        value: 2
      properties:
        value:
          description: The uint32 value.
          format: uint32
          type: integer
      type: object
    google.protobuf.Value:
      description: "Represents a dynamically typed value which can be either null,\
        \ a number, a string, a boolean, a recursive struct value, or a list of values."
  securitySchemes:
    OAuth2AuthCode:
      description: "更多内容请查阅[腾讯文档开放平台开发文档](https://docs.qq.com/open/wiki)"
      flows:
        authorizationCode:
          authorizationUrl: https://docs.qq.com/oauth/v2/authorize
          refreshUrl: https://docs.qq.com/oauth/v2/token
          scopes:
            ScopeFileCreatable: 开发者调用相关的OpenAPI需要确保Access-Token拥有对应的scope，其值形如scope.file.creatable
          tokenUrl: https://docs.qq.com/oauth/v2/token
      type: oauth2
