openapi: 3.0.3
info:
  title: Tencent Docs SDK
  description: This is tencent docs editorapi sdk
  contact:
    name: Tencent Docs
    url: https://git.woa.com/tencentdocs/sdk
    email: tencentdocs@tencent.com
  license:
    name: Apache License
    url: https://git.woa.com/tencentdocs/sdk/blob/master/LICENSE
  version: 0.1.0
servers:
- url: https://docs.qq.com
tags:
- name: DocAPI
paths:
  /openapi/doc/v3/{fileID}:
    get:
      tags:
      - DocAPI
      description: GetDocFullText 接口用于获取 Doc 文档内容
      operationId: DocAPI_GetDocFullText
      parameters:
      - name: fileID
        in: path
        description: 文档 ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /openapi/doc/v3/{fileID}/batchUpdate:
    post:
      tags:
      - DocAPI
      description: BatchUpdateDocData 接口用于更新 Doc 文档内容，支持批量更新
      operationId: DocAPI_BatchUpdateDocData
      parameters:
      - name: fileID
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateDocDataReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDocResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
components:
  schemas:
    BatchUpdateDocDataReq:
      required:
      - fileID
      - requests
      type: object
      properties:
        fileID:
          type: string
        requests:
          type: array
          items:
            $ref: '#/components/schemas/Request'
    GetDocFullTextRsp:
      type: object
      properties:
        document:
          $ref: '#/components/schemas/Node'
      example:
        document:
          children:
          - null
          - null
          property:
            key: ""
          end: 1
          text: text
          type: type
          begin: 6
    GetDocResponse:
      type: object
      properties:
        ret:
          type: integer
          format: int32
        msg:
          type: string
        data:
          $ref: '#/components/schemas/GetDocFullTextRsp'
      example:
        ret: 0
        msg: msg
        data:
          document:
            children:
            - null
            - null
            property:
              key: ""
            end: 1
            text: text
            type: type
            begin: 6
    GoogleProtobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: The type of the serialized message.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that
        describes the type of the serialized message.
      x-schema-name: GoogleProtobufAny
    GoogleProtobufValue:
      description: "Represents a dynamically typed value which can be either null,\
        \ a number, a string, a boolean, a recursive struct value, or a list of values."
    InsertImageRequest:
      required:
      - imageID
      - location
      type: object
      properties:
        imageID:
          type: string
          description: 图片 ID
        location:
          $ref: '#/components/schemas/Location'
        width:
          type: integer
          description: "图片宽度, 单位为 emu"
          format: uint32
        height:
          type: integer
          description: "图片高度, 单位为 emu"
          format: uint32
        addonSource:
          type: integer
          description: 业务来源
          format: enum
        addonID:
          type: string
          description: 插件ID
        anchorID:
          type: string
          description: 文档插件元素的唯一 ID (6位的数字小写字母组合)
        extraData:
          type: string
          description: 插件扩展字段
    InsertTextRequest:
      required:
      - location
      - text
      type: object
      properties:
        text:
          type: string
        location:
          $ref: '#/components/schemas/Location'
    InsertWebBlockRequest:
      required:
      - addonID
      - addonType
      - anchorID
      - embedURL
      - location
      - originalURL
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
        addonID:
          type: string
          description: 插件 ID
        anchorID:
          type: string
          description: 文档插件元素的唯一ID(6位的数字小写字母组合)
        displayText:
          type: string
          description: 展示文本
        width:
          type: integer
          description: 插件宽度，单位为 emu
          format: uint32
        height:
          type: integer
          description: 插件高度，单位为 emu
          format: uint32
        originalURL:
          type: string
          description: 原始URL
        embedURL:
          type: string
          description: 插件展示的URL
        addonType:
          type: integer
          format: enum
        extraData:
          type: string
          description: 插件扩展字段
        lockAspectRatio:
          type: boolean
          description: "锁定宽高比, Default: true"
    Location:
      type: object
      properties:
        index:
          type: integer
          format: uint32
    Node:
      type: object
      properties:
        begin:
          type: integer
          format: uint32
        end:
          type: integer
          format: uint32
        type:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/Node'
        text:
          type: string
        property:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GoogleProtobufValue'
      example:
        children:
        - null
        - null
        property:
          key: ""
        end: 1
        text: text
        type: type
        begin: 6
    Request:
      type: object
      properties:
        insertText:
          $ref: '#/components/schemas/InsertTextRequest'
        insertImage:
          $ref: '#/components/schemas/InsertImageRequest'
        insertWebBlock:
          $ref: '#/components/schemas/InsertWebBlockRequest'
    Status:
      type: object
      properties:
        code:
          type: integer
          description: "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
          format: int32
        message:
          type: string
          description: "A developer-facing error message, which should be in English.\
            \ Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details]\
            \ field, or localized by the client."
        details:
          type: array
          description: A list of messages that carry the error details.  There is
            a common set of message types for APIs to use.
          items:
            $ref: '#/components/schemas/GoogleProtobufAny'
      description: "The `Status` type defines a logical error model that is suitable\
        \ for different programming environments, including REST APIs and RPC APIs.\
        \ It is used by [gRPC](https://github.com/grpc). Each `Status` message contains\
        \ three pieces of data: error code, error message, and error details. You\
        \ can find out more about this error model and how to work with it in the\
        \ [API Design Guide](https://cloud.google.com/apis/design/errors)."
    UpdateDocResponse:
      type: object
      properties:
        ret:
          type: integer
          format: int32
        msg:
          type: string
      example:
        ret: 0
        msg: msg
  headers:
    Access-Token:
      description: 访问令牌，用于标识用户和接口鉴权
      required: true
      style: simple
      explode: false
      schema:
        type: string
    Client-Id:
      description: 应用 ID，用于标识应用和接口鉴权
      required: true
      style: simple
      explode: false
      schema:
        type: string
    Open-Id:
      description: 开放平台用户 ID，用于标识用户和接口鉴权
      required: true
      style: simple
      explode: false
      schema:
        type: string
